<!DOCTYPE html>
<html lang="{{locale}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{#if description}}<meta name="description" content="{{description}}">{{/if}}
  {{#if keywords}}<meta name="keywords" content="{{keywords}}">{{/if}}
  <link rel="icon" type="image/png" href="/images/icon.png">
  <link rel="stylesheet" href="/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/global/common-global.css">
  <link rel="stylesheet" href="/css/global/products-global.css">
  <link rel="stylesheet" href="/css/other/animate.min.css">
  
  <link rel="stylesheet" href="/css/exo.css">
</head>
<body class="g-products-page">
  {{> website/common/nav-drawer}}
  {{> website/common/header}}

  <main class="g-main">
    {{> website/products/banner}}
    {{> website/products/breadcrumb}}
    <div class="g-products-layout">
      <div class="container g-products-layout__inner">
        {{> website/products/category-sidebar}}
        {{> website/products/product-list}}
      </div>
    </div>
    {{> website/common/footer}}
  </main>

  <script src="/js/wow.min.js"></script>
  <script src="/js/products.js"></script>
  <script>
    (function () {
      if (typeof WOW === 'function') {
        window.wow = new WOW({
          boxClass: 'wow',
          animateClass: 'animate__animated',
          offset: 40,
          mobile: false,
          live: false,
        });
        window.wow.init();
      }
    })();
  </script>
</body>
</html>
