{{!-- äø?cases-list.hbs å…±ē”Ø website/cases/cases-list-card-item --}}
<div class="g-cases-list-grid g-search__embed-grid">
  {{#each solutions}}
  {{> website/cases/cases-list-card-item}}
  {{/each}}
</div>
