{{!-- дё?products еҲ—иЎЁзӣёеҗҢзҡ?flex зҪ‘ж јдё?g-product-card --}}
<div class="g-products-list g-search__products-list">
  <div class="g-products-list__grid">
    {{#each products}}
    {{> website/search/search-product-card}}
    {{/each}}
  </div>
</div>
